<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <h2>Login</h2>
    <div>
      <label>Email:</label>
      <input type="email" name="email" [(ngModel)]="user.email" required #email="ngModel">
      <div *ngIf="email.invalid && email.touched" style="color: red;">
        Email is required
      </div>
    </div>
    <br /> <br />
    <div>
      <label>Password:</label>
      <input type="password" name="password" [(ngModel)]="user.password" required minlength="6" #password="ngModel">
      <div *ngIf="password.invalid && password.touched" style="color: red;">
        Password must be at least 6 characters
      </div>
    </div>
    <br /> <br />
    <!-- <button type="submit" [disabled]="loginForm.invalid"><a [routerLink]="['/home']">Login</a> </button> -->
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
    <br /> <br />
    <a id="link" [routerLink]="['/signup']">Not yet Registered ??? Sign Up</a>
  </form>
  
  <!-- <p>Form Value: {{ user | json }}</p> -->
  